﻿<div id="blusher" class="blusherMain">

    <div id="blusherImage">

        <div class="enhancing-your-beauty">
            <h1>Blusher </h1>
        </div>

    </div>

    <div class="acc-div accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
        <div class="sep-line"></div>
        <div class="card border-none">
            <div role="tab" id="headingOne1">
                <div class="seprate" data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
                     aria-controls="collapseOne1">
                    <label class="acc-heading">The product and how it works</label> <img src="~/fonts/icon/arrow.svg" class="down-arrow" />
                </div>
            </div>
            <div class="sep-line"></div>
            <div class="details-expantion collapse show" id="collapseOne1" role="tabpanel" aria-labelledby="headingOne1"
                 data-parent="#accordionEx">
                <div class="flex-row margin-top margin-left">
                    <label class="question ques">Q.</label>   <label class="question">How is my MakeUp™ delivered?</label>
                </div>
                <div class="flex-row margin-bottom margin-left">
                    <label class="question ques">A.</label>  <p class="details-ans">


                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vestibulum lacinia massa, a venenatis justo aliquet et. Curabitur vehicula iaculis lacus, ut hendrerit tortor posuere vitae. Duis tempus pellentesque efficitur. Sed eu euismod sapien. Nam ultrices, ipsum id rutrum posuere, risus lacus commodo lectus, quis eleifend lorem justo in risus. Sed et mi eu purus fringilla interdum. Donec et lacus nec nisi ullamcorper suscipit. Vivamus maximus viverra ligula nec fringilla. Sed nec turpis sed enim cursus luctus. Curabitur egestas nunc eu ante accumsan finibus. Cras non auctor lacus. Ut sit amet quam lacus. Ut tempor interdum enim, quis efficitur nibh bibendum vel.

                        Sed non lobortis massa. Vivamus hendrerit dui ut velit pharetra, in aliquet ligula lobortis. Sed maximus augue at mi accumsan, sed tempor neque luctus. In eleifend eros vel massa interdum, feugiat congue lectus lacinia. Nunc ut felis lobortis, malesuada velit facilisis, aliquet massa. Aenean sit amet lacus id tellus ultricies feugiat. Morbi sodales urna nisi, ac eleifend leo aliquam in. Duis sit amet tempus mauris. Etiam laoreet volutpat tellus porta consectetur.

                        Suspendisse posuere eros augue, quis elementum augue laoreet eget. Aliquam erat volutpat. Aenean ut ipsum nulla. Ut a nisi turpis. Suspendisse finibus orci metus, nec porta quam suscipit nec. Nullam ut ligula in purus accumsan bibendum. Cras volutpat consectetur quam, vitae tempus dolor faucibus a. Etiam tempor pulvinar purus. Maecenas egestas justo eget erat euismod, eget facilisis arcu egestas. Morbi in eros risus. Sed viverra in est eget convallis.

                        Donec ut lorem id lacus placerat auctor eget sed libero. Praesent feugiat ligula ut tortor tincidunt rutrum. Vestibulum quis pulvinar justo. Nam elementum blandit magna. Mauris elit tortor, rutrum ac semper id, tristique condimentum felis. Nam condimentum, mauris sit amet facilisis blandit, nisl nunc porta risus, at bibendum nibh nisl et mauris. Praesent porta enim et feugiat convallis. Sed sit amet tincidunt lacus. Morbi eget hendrerit elit. Nulla dictum lorem quam, ac finibus metus semper non.

                        In nec justo sapien. Cras sit amet purus velit. Quisque velit neque, fermentum a gravida ut, blandit sed augue. Nunc condimentum, nulla vitae mattis tincidunt, magna risus elementum elit, a gravida sem ante id quam. Donec sed rhoncus tortor. In non turpis iaculis, vulputate dui non, finibus dolor.
                    </p>
                </div>

                <div class="flex-row margin-top margin-left">
                    <label class="question ques">Q.</label>   <label class="question">How much does shipping cost? </label>
                </div>
                <div class="flex-row margin-bottom margin-left">
                    <label class="question ques">A.</label>  <p class="details-ans">
                        Shipping is included in the price you pay and there are no separate shipping charges.
                    </p>
                </div>
                <div class="expantion-bottom"></div>
            </div>

        </div>
        <div class="card border-none">
            <div role="tab" id="headingTwo2">
                <div class="seprate collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo2"
                     aria-expanded="false" aria-controls="collapseTwo2">
                    <label class="acc-heading">Ordering</label><img src="~/fonts/icon/arrow.svg" class="down-arrow" />
                </div>
            </div>
            <div class="sep-line"></div>
            <div class="details-expantion collapse" id="collapseTwo2" role="tabpanel" aria-labelledby="headingTwo2"
                 data-parent="#accordionEx">
                <div class="flex-row margin-top margin-left">
                    <label class="question ques">Q.</label>   <label class="question">How is my MakeUp™ delivered?</label>
                </div>
                <div class="flex-row margin-bottom margin-left">
                    <label class="question ques">A.</label>  <p class="details-ans">


                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vestibulum lacinia massa, a venenatis justo aliquet et. Curabitur vehicula iaculis lacus, ut hendrerit tortor posuere vitae. Duis tempus pellentesque efficitur. Sed eu euismod sapien. Nam ultrices, ipsum id rutrum posuere, risus lacus commodo lectus, quis eleifend lorem justo in risus. Sed et mi eu purus fringilla interdum. Donec et lacus nec nisi ullamcorper suscipit. Vivamus maximus viverra ligula nec fringilla. Sed nec turpis sed enim cursus luctus. Curabitur egestas nunc eu ante accumsan finibus. Cras non auctor lacus. Ut sit amet quam lacus. Ut tempor interdum enim, quis efficitur nibh bibendum vel.

                        Sed non lobortis massa. Vivamus hendrerit dui ut velit pharetra, in aliquet ligula lobortis. Sed maximus augue at mi accumsan, sed tempor neque luctus. In eleifend eros vel massa interdum, feugiat congue lectus lacinia. Nunc ut felis lobortis, malesuada velit facilisis, aliquet massa. Aenean sit amet lacus id tellus ultricies feugiat. Morbi sodales urna nisi, ac eleifend leo aliquam in. Duis sit amet tempus mauris. Etiam laoreet volutpat tellus porta consectetur.

                        Suspendisse posuere eros augue, quis elementum augue laoreet eget. Aliquam erat volutpat. Aenean ut ipsum nulla. Ut a nisi turpis. Suspendisse finibus orci metus, nec porta quam suscipit nec. Nullam ut ligula in purus accumsan bibendum. Cras volutpat consectetur quam, vitae tempus dolor faucibus a. Etiam tempor pulvinar purus. Maecenas egestas justo eget erat euismod, eget facilisis arcu egestas. Morbi in eros risus. Sed viverra in est eget convallis.

                        Donec ut lorem id lacus placerat auctor eget sed libero. Praesent feugiat ligula ut tortor tincidunt rutrum. Vestibulum quis pulvinar justo. Nam elementum blandit magna. Mauris elit tortor, rutrum ac semper id, tristique condimentum felis. Nam condimentum, mauris sit amet facilisis blandit, nisl nunc porta risus, at bibendum nibh nisl et mauris. Praesent porta enim et feugiat convallis. Sed sit amet tincidunt lacus. Morbi eget hendrerit elit. Nulla dictum lorem quam, ac finibus metus semper non.

                        In nec justo sapien. Cras sit amet purus velit. Quisque velit neque, fermentum a gravida ut, blandit sed augue. Nunc condimentum, nulla vitae mattis tincidunt, magna risus elementum elit, a gravida sem ante id quam. Donec sed rhoncus tortor. In non turpis iaculis, vulputate dui non, finibus dolor.
                    </p>
                </div>

                <div class="flex-row margin-top margin-left">
                    <label class="question ques">Q.</label>   <label class="question">How much does shipping cost? </label>
                </div>
                <div class="flex-row margin-bottom margin-left">
                    <label class="question ques">A.</label>  <p class="details-ans">
                        Shipping is included in the price you pay and there are no separate shipping charges.
                    </p>
                </div>
                <div class="expantion-bottom"></div>
            </div>

        </div>
        <div class="card border-none">
            <div role="tab" id="headingThree3">
                <div class="seprate collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree3"
                     aria-expanded="false" aria-controls="collapseThree3">
                    <label class="acc-heading">Delivery</label><img src="~/fonts/icon/arrow.svg" class="down-arrow" />
                </div>
            </div>
            <div class="sep-line"></div>
            <div class="details-expantion collapse" id="collapseThree3" role="tabpanel" aria-labelledby="headingThree3"
                 data-parent="#accordionEx">
                <div class="flex-row margin-top margin-left">
                    <label class="question ques">Q.</label>   <label class="question">How is my MakeUp™ delivered?</label>
                </div>
                <div class="flex-row margin-bottom margin-left">
                    <label class="question ques">A.</label>  <p class="details-ans">


                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vestibulum lacinia massa, a venenatis justo aliquet et. Curabitur vehicula iaculis lacus, ut hendrerit tortor posuere vitae. Duis tempus pellentesque efficitur. Sed eu euismod sapien. Nam ultrices, ipsum id rutrum posuere, risus lacus commodo lectus, quis eleifend lorem justo in risus. Sed et mi eu purus fringilla interdum. Donec et lacus nec nisi ullamcorper suscipit. Vivamus maximus viverra ligula nec fringilla. Sed nec turpis sed enim cursus luctus. Curabitur egestas nunc eu ante accumsan finibus. Cras non auctor lacus. Ut sit amet quam lacus. Ut tempor interdum enim, quis efficitur nibh bibendum vel.

                        Sed non lobortis massa. Vivamus hendrerit dui ut velit pharetra, in aliquet ligula lobortis. Sed maximus augue at mi accumsan, sed tempor neque luctus. In eleifend eros vel massa interdum, feugiat congue lectus lacinia. Nunc ut felis lobortis, malesuada velit facilisis, aliquet massa. Aenean sit amet lacus id tellus ultricies feugiat. Morbi sodales urna nisi, ac eleifend leo aliquam in. Duis sit amet tempus mauris. Etiam laoreet volutpat tellus porta consectetur.

                        Suspendisse posuere eros augue, quis elementum augue laoreet eget. Aliquam erat volutpat. Aenean ut ipsum nulla. Ut a nisi turpis. Suspendisse finibus orci metus, nec porta quam suscipit nec. Nullam ut ligula in purus accumsan bibendum. Cras volutpat consectetur quam, vitae tempus dolor faucibus a. Etiam tempor pulvinar purus. Maecenas egestas justo eget erat euismod, eget facilisis arcu egestas. Morbi in eros risus. Sed viverra in est eget convallis.

                        Donec ut lorem id lacus placerat auctor eget sed libero. Praesent feugiat ligula ut tortor tincidunt rutrum. Vestibulum quis pulvinar justo. Nam elementum blandit magna. Mauris elit tortor, rutrum ac semper id, tristique condimentum felis. Nam condimentum, mauris sit amet facilisis blandit, nisl nunc porta risus, at bibendum nibh nisl et mauris. Praesent porta enim et feugiat convallis. Sed sit amet tincidunt lacus. Morbi eget hendrerit elit. Nulla dictum lorem quam, ac finibus metus semper non.

                        In nec justo sapien. Cras sit amet purus velit. Quisque velit neque, fermentum a gravida ut, blandit sed augue. Nunc condimentum, nulla vitae mattis tincidunt, magna risus elementum elit, a gravida sem ante id quam. Donec sed rhoncus tortor. In non turpis iaculis, vulputate dui non, finibus dolor.
                    </p>
                </div>

                <div class="flex-row margin-top margin-left">
                    <label class="question ques">Q.</label>   <label class="question">How much does shipping cost? </label>
                </div>
                <div class="flex-row margin-bottom margin-left">
                    <label class="question ques">A.</label>  <p class="details-ans">
                        Shipping is included in the price you pay and there are no separate shipping charges.
                    </p>
                </div>
                <div class="expantion-bottom"></div>
            </div>

        </div>
        <div class="card border-none">
            <div class="sep-line"></div>
            <div class="seprate">
                <label class="acc-heading">Q. Returns and refunds </label> <img src="~/fonts/icon/arrow.svg" class="down-arrow" />
            </div>
            <div class="sep-line"></div>
        </div>
    </div>
</div>
