﻿<div id="brushes" class="blusherMain">

    <div id="brushesImage">

        <div class="enhancing-your-beauty">
            <h1>Brushes </h1>
        </div>

    </div>

    <form action="">
        <div class="flex-column">
            <div class="flex-row line-break totalWidth">
                <div class="flex-row margin-top">
                    <div class="flex-column partialWidth">
                        <div><label class="infolbl">Full Name:</label></div>
                        <div><input type="text" class="infotxt" /></div>
                    </div>
                    <div class="flex-column partialWidth">
                        <div><label class="infolbl">Email Address:</label></div>
                        <div><input type="text" class="infotxt" /></div>
                    </div>
                </div>

                <div class="flex-row margin-top">
                    <div class="flex-column partialWidth">
                        <div><label class="infolbl">Phone Number:</label></div>
                        <div><input type="text" class="infotxt" /></div>
                    </div>
                    <div class="flex-column partialWidth">
                        <div><label class="infolbl">User Date of Birth:</label></div>
                        <div><input type="text" class="infotxt" /></div>
                    </div>
                </div>

                <div class="flex-row margin-top">
                    <div class="flex-column partialWidth">
                        <div><label class="infolbl">Country</label></div>
                        <div>
                            <select name="makeUp" id="makeUp" class="infotxt">
                                <option value="volvo">Select ...</option>
                                <option value="BeautyTips">Beauty Tips</option>
                                <option value="BeautyTips">Beauty Tips</option>
                                <option value="BeautyTips">Beauty Tips</option>
                            </select>
                        </div>
                    </div>

                </div>
            </div>

            <div class="flex-column totalWidth margin-top">
                <label class="lblproduct">Current products used:</label>
                <div class="flex-row ">
                    <div class="flex-column first-column">
                        <div class="flex-row margin-top-10"> <div class="chkbox"></div><label class="chkboxTxt">Blusher</label></div>
                        <div class="flex-row margin-top-10"> <div class="chkbox"></div><label class="chkboxTxt">Perfume</label></div>
                        <div class="flex-row margin-top-10"> <div class="chkbox"></div><label class="chkboxTxt">Mascara</label></div>
                    </div>
                    <div class="flex-column">
                        <div class="flex-row margin-top-10"> <div class="chkbox"></div><label class="chkboxTxt">Hair products</label></div>
                        <div class="flex-row margin-top-10">
                            <div class="chkbox">
                                <img src="~/fonts/icon/tick.svg" />
                            </div><label class="chkboxTxt">Brushes</label>
                        </div>
                        <div class="flex-row margin-top-10">
                            <div class="chkbox">
                                <img src="~/fonts/icon/tick.svg" />
                            </div><label class="chkboxTxt">Other</label>
                        </div>
                    </div>

                </div>

            </div>

            <div class="flex-column totalWidth margin-top">
                <label class="lbloliyskin">Approximately how oily is your skin?</label>
                <div class="flex-row oily-skin-section">
                    <div class="flex-column oily-skin-div">
                        <div class="flex-row drop-div">
                            <img src="~/fonts/icon/drop.svg" class="img-oval" />
                            <img src="~/fonts/icon/drop.svg" class="img-oval  oval-opacity" />
                            <img src="~/fonts/icon/drop.svg" class="img-oval oval-opacity" />
                            <img src="~/fonts/icon/drop.svg" class="img-oval oval-opacity" />
                            <img src="~/fonts/icon/drop.svg" class="img-oval oval-opacity" />
                        </div>
                        <label class="skin-description-heading">Slightly</label>
                        <label class="skin-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
                    </div>
                    <div class="flex-column oily-skin-div">
                        <div class="flex-row drop-div">
                            <img src="~/fonts/icon/drop.svg" class="img-oval" />
                            <img src="~/fonts/icon/drop.svg" class="img-oval" />
                            <img src="~/fonts/icon/drop.svg" class="img-oval oval-opacity" />
                            <img src="~/fonts/icon/drop.svg" class="img-oval oval-opacity" />
                            <img src="~/fonts/icon/drop.svg" class="img-oval oval-opacity" />
                        </div>
                        <label class="skin-description-heading">Moderate </label>
                        <label class="skin-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
                    </div>
                    <div class="flex-column oily-skin-div">
                        <div class="flex-row drop-div">
                            <img src="~/fonts/icon/drop.svg" class="img-oval" />
                            <img src="~/fonts/icon/drop.svg" class="img-oval" />
                            <img src="~/fonts/icon/drop.svg" class="img-oval" />
                            <img src="~/fonts/icon/drop.svg" class="img-oval oval-opacity" />
                            <img src="~/fonts/icon/drop.svg" class="img-oval oval-opacity" />
                        </div>
                        <label class="skin-description-heading">Severe</label>
                        <label class="skin-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
                    </div>
                    <div class="flex-column oily-skin-div">
                        <div class="flex-row drop-div">
                            <img src="~/fonts/icon/drop.svg" class="img-oval" />
                            <img src="~/fonts/icon/drop.svg" class="img-oval" />
                            <img src="~/fonts/icon/drop.svg" class="img-oval" />
                            <img src="~/fonts/icon/drop.svg" class="img-oval" />
                            <img src="~/fonts/icon/drop.svg" class="img-oval oval-opacity" />
                        </div>
                        <label class="skin-description-heading">Very severe </label>
                        <label class="skin-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
                    </div>
                    <div class="flex-column oily-skin-div">
                        <div class="flex-row drop-div">
                            <img src="~/fonts/icon/drop.svg" class="img-oval" />
                            <img src="~/fonts/icon/drop.svg" class="img-oval" />
                            <img src="~/fonts/icon/drop.svg" class="img-oval" />
                            <img src="~/fonts/icon/drop.svg" class="img-oval" />
                            <img src="~/fonts/icon/drop.svg" class="img-oval" />
                        </div>
                        <label class="skin-description-heading">Extremely severe </label>
                        <label class="skin-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
                    </div>

                </div>

            </div>

            <br><br>
            <input type="submit" value="Submit" class="cta-primary">
        </div>
    </form>

</div>