﻿/* start blusher section css*/

#blusherImage {
    background: url("/images/Image-02.jpg") repeat scroll center center / cover;
    height: 660px;
    width: 100%;
}

.blusherMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.acc-div {
    margin-top: 20px;
    width: 780px;
}

.sep-line {
    box-sizing: border-box;
    height: 1px;
    width: 780px;
    border: 1px solid #E6E7E9;
}

.seprate {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 20px;
    align-items: center
}

.acc-heading {
    height: 28px;
    width: 336px;
    color: #5F6062;
    font-family: "Noto Sans";
    font-size: 24px;
    letter-spacing: 0;
    line-height: 28px;
    display: flex;
    align-self: flex-start;
    margin-top: 24px;
    margin-bottom: 23px;
}

.details-expantion {
    height: auto;
    width: 779px;
    opacity: 0.9;
    background-color: #E6E7E9;
    display: flex;
    flex-direction: column;
}

.details-ans {
    height: auto;
    width: 579px;
    color: #818284;
    font-family: "Noto Sans";
    font-size: 14px;
    letter-spacing: 0;
    line-height: 20px;
}

.question {
    height: 20px;
    width: 221px;
    color: #6A6B6D;
    font-family: "Noto Sans";
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 20px;
}

.ques {
    height: 20px;
    width: 25px;
}

.expantion-bottom {
    box-sizing: border-box;
    height: 2px;
    width: 777px;
    border: 4px solid #DE886A;
}

.down-arrow {
    height: 9px;
    width: 15px;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.margin-top {
    margin-top: 30px;
}

.margin-bottom {
    margin-bottom: 40px;
}

.display-none {
    display: none;
}


.margin-left {
    margin-left: 30px;
}

.border-none {
    border: none !important;
}

/* End blusher section css*/

