﻿/* start brushes section css*/

#brushesImage {
    background: url("/images/Image-03.jpg") repeat scroll center center / cover;
    height: 660px;
    width: 100%;
}

.totalWidth {
    width: 780px;
}

.partialWidth {
    width: 380px;
}

.lblproduct {
    height: 20px;
    width: 162px;
    color: #6A6B6D;
    font-family: "Noto Sans";
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 20px;
}

.lbloliyskin {
    height: 20px;
    width: 225px;
    color: #757679;
    font-family: "FS Albert";
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 20px;
}

.infolbl {
    height: 20px;
    width: 120px;
    color: #5F6062;
    font-family: "Noto Sans";
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 20px;
}

.infotxt {
    box-sizing: border-box;
    height: 37px;
    width: 360px;
    border: 1px solid #E6E7E9;
    border-radius: 5px;
}

.cta-primary {
    height: 50px;
    width: 106px;
    border-radius: 4px;
    background-color: #DE886A;
    color: #FFFFFF;
    font-family: "FS Albert";
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 16px;
    text-align: center
}



.first-column {
    flex-basis: 55%;
}

.chkbox {
    box-sizing: border-box;
    height: 26px;
    width: 26px;
    border: 1px solid #E6E7E9;
}

.margin-top-10 {
    margin-top: 10px;
    align-items: center;
}

.chkboxTxt {
    height: 20px;
    width: 120px;
    color: #6A6B6D;
    font-family: "Noto Sans";
    font-size: 14px;
    letter-spacing: 0;
    line-height: 20px;
    margin-left: 20px;
}

.oily-skin-section {
    justify-content: space-between
}

.oily-skin-div {
    height: auto;
    width: 140px;
    border: 1px solid #E6E7E9;
    border-radius: 4px;
}

.img-oval {
    height: 26.43px;
    width: 19px;
}

.drop-div {
    box-sizing: border-box;
    height: 83px;
    width: 140px;
    border-bottom: 1px solid #E6E7E9;
    justify-content: center;
    align-items: center;
}

.oval-opacity {
    opacity: 0.1;
}

.skin-description-heading {
    height: 19px;
    width: 132px;
    color: #6A6B6D;
    font-family: "Noto Sans";
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 19px;
    margin-left: 5px;
}

.skin-description {
    height: 54px;
    width: 132px;
    color: #818284;
    font-family: "Noto Sans";
    font-size: 13px;
    letter-spacing: 0;
    line-height: 18px;
    margin-left: 5px;
}

.line-break {
    flex-wrap: wrap;
}

/* End brushes section css*/
