﻿/* Start top header & menu section css*/

#header {
    background: url("/images/Image-01.jpg") repeat scroll center center / cover;
    height: 660px;
    width: 100%;
}

.topmenu {
    position: fixed;
    background: #000000;
    z-index: 1000;
    width: 82.7%;
    display: flex;
    opacity: 0.3;
    justify-content: space-around;
    height: 70px;
    align-items: center;
}

@media screen and (min-width:0\0) and (min-resolution: +72dpi) {
    /*// IE9 + CSS*/
    .topmenu {
        width: 81.7%;
    }
}

.logo {
    align-self: center;
    flex-basis: 15%;
}

    .logo img {
        width: 100px;
        height: 50px;
    }

.menu {
    display: flex;
    flex-direction: row;
    flex-basis: 70%;
    justify-content: flex-start;
}

.menu-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-basis: 83%;
}

.list-item {
    display: flex;
    flex-basis: 20%;
    justify-content: flex-end;
}

.smoothScroll {
    height: 30px;
    width: 78px;
    color: #FFFFFF;
    font-family: "Noto Sans";
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.73px;
    line-height: 30px;
    text-align: center
}

.enhancing-your-beauty {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

    .enhancing-your-beauty h1 {
        height: 58px;
        color: #FFFFFF;
        font-family: "Noto Sans";
        font-size: 50px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 58px;
    }

/* End top header & menu section css*/

