﻿

/* start Mascara section css*/
#mascaraImage {
    background: url("/images/Image-04.jpg") repeat scroll center center / cover;
    height: 660px;
    width: 100%;
}
/* End Mascara section css*/


