﻿<!-- Bootstrap CSS & JS File for Accordian -->
<link href="~/css/bts-4.5/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/bts-4.5/popper.min.js"></script>
<script src="~/Scripts/bts-4.5/bootstrap.min.js"></script>
<!-- end file section -->


<body>
    <!-- start section navbar -->
    <div class="topmenu">


        <div class="logo">
            <a href="/Home/Index" id="dareLogo">
                <img src="~/images/dare-logo.png" />
            </a>
        </div>

        <div class="menu">

            <ul class="menu-list list-unstyled">
                <li class="list-item"><a href="#blusher" class="smoothScroll">BLUSHER</a></li>
                <li class="list-item"><a href="#brushes" class="smoothScroll">BRUSHES</a></li>
                <li class="list-item"><a href="#mascara" class="smoothScroll">MASCARA</a></li>
                <li class="list-item"><a href="#perfume" class="smoothScroll">PERFUME</a></li>
                <li class="list-item"><a href="#hair" class="smoothScroll">HAIR</a></li>
            </ul>
        </div>

    </div>

    <!-- End section navbar -->

    <!-- start section header -->
    <div id="header" class="home">

        <div class="container">
            <div class="enhancing-your-beauty">
                <h1>Enhancing your beauty experience </h1>


                @*<ul class="list-unstyled list-social">
                        <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                        <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                        <li><a href="#"><i class="ion-social-instagram"></i></a></li>
                        <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                        <li><a href="#"><i class="ion-social-tumblr"></i></a></li>
                        <li><a href="#"><i class="ion-social-dribbble"></i></a></li>
                    </ul>*@
            </div>
        </div>
    </div>
    <!-- End section header -->

    <!-- start section blusher-->
    @Html.Partial("_blusher")
    <!-- end section blusher -->

    <!-- start section brushes -->
    @Html.Partial("_brushes")
    <!-- end section brushes -->

    <!-- Start section mascara -->
    @Html.Partial("_mascara")
    <!-- end section mascara -->

    <!-- Start section perfume -->
    @Html.Partial("_perfume")
    <!-- end section perfume -->

    <!-- Start section hair -->
    @Html.Partial("_hair")
    <!-- end section hair -->



</body>

<script>
    $("#dareLogo").scrollTop(300);

    //$('.seprate').click(function (e) {
    //    $(this).children("img");
    //});
</script>


